@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar for Receipt */
.receipt-scroll::-webkit-scrollbar {
  width: 6px;
}
.receipt-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.receipt-scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}
.receipt-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}