@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utilities for Physicality */
.chassis-texture {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
}

.lcd-grid {
  background-image: radial-gradient(#1B1B1B 10%, transparent 11%), radial-gradient(#1B1B1B 10%, transparent 11%);
  background-size: 3px 3px;
  background-position: 0 0, 1.5px 1.5px;
  opacity: 0.1;
}